<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shakti Pumps</title>
    <link rel="icon" type="image/x-icon" href="/img/fav.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link rel="stylesheet" href="/css/style-loading.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>

  <body>
    <% if(data && data.message !='' ){ %>
    <div
      class="alert alert-success alert-dismissible fade show"
      role="alert"
      id="alert-container"
    >
      <strong>Success</strong>
      <%=data.message%>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    <%}%>

    <script>
      const alertCont = document.getElementById("alert-container");
      setTimeout(() => {
        alertCont.style.display = "none";
      }, 5000);
    </script>

    <%- include('./common/header.ejs')%>

    <section class="videobanner">
      <video width="100%" height="" muted autoplay loop>
        <source src="/images/banner-video.mp4" type="video/mp4" />
        <!-- <source src="movie.ogg" type="video/ogg"> -->
      </video>
      <div class="videoban-content">
        <div class="container" data-animation="fadeInUp">
          <h2>Desh ka Pump Shakti Pump</h2>
          <p>
            A trusted name in India for delivering high-performance,
            energy-efficient pumping solutions. Shakti Pumps stand as a symbol
            of reliability and innovation, providing advanced solutions for
            various applications across the globe.
          </p>
          <a href="#" class="resultsbtn"
            ><img src="/images/pdf-icon.png" alt="" /> Q3 Result Highlights Fy
            2023-24</a
          >
          <ul class="projectlink">
            <li>
              <a href="/domestic">
                <img src="/images/Indiamap-icon.png" alt="" />
                <h3>Domestic</h3>
              </a>
            </li>
            <li>
              <a href="/goverment">
                <img src="/images/Indiamap-icon2.png" alt="" />
                <h3>Government Project</h3>
              </a>
            </li>
            <li>
              <a href="/solaroem">
                <img src="/images/Indiamap-icon3.png" alt="" />
                <h3>Solar OEM</h3>
              </a>
            </li>
            <li>
              <a href="/industrial">
                <img src="/images/Indiamap-icon4.png" alt="" />
                <h3>Industrial</h3>
              </a>
            </li>
            <li>
              <a href="/international">
                <img src="/images/Indiamap-icon5.png" alt="" />
                <h3>International</h3>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="whatlooking" data-animation="fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12 text-center">
            <h3 style="font-weight: 300">
              Versatile Pumping Solutions<br />
              for Every Need
            </h3>
          </div>
          <div class="col-lg-8 col-md-12 col-sm-12">
            <p>
              At Shakti Pumps, we offer a wide range of pumping solutions to
              meet your specific needs. Whether you're looking for
              high-efficiency solar pumps, robust industrial pumps, or reliable
              domestic pumps, we have the right product for you. Explore our
              offerings to find the perfect solution tailored to your
              requirements.
            </p>
            <!-- <p>Shakti <a href="#"></a> is a renowned manufacturer specializing in <a href="#">High-efficiency</a> pumping solutions, catering to diverse needs in <a href="#">Domestic, solar</a> and <a href="#">Industrial</a> sectors. For <a href="#">Domestic</a> applications, <a href="#">Shakti Pumps</a> offers reliable <a href="#">Pressure Booster Pumps</a> that ensure consistent <a href="#">Water Pressure</a> for households.</p> -->
          </div>
        </div>
      </div>
    </section>
    <section class="numbercount">
      <div class="container" data-animation="fadeInRight">
        <div class="numberinc">
          <!-- partial:index.partial.html -->
          <div class="counter-container">
            <img src="/images/count-icon1.png" alt="" />
            <div class="count-wrap">
              <div class="counter" data-target="42"></div>
              +
            </div>
            <span>Years Expertise</span>
          </div>
          <div class="counter-container">
            <img src="/images/count-icon2.png" alt="" />
            <div class="count-wrap">
              <div class="counter" data-target="1000000"></div>
              +
            </div>
            <span>Happy Customer</span>
          </div>
          <div class="counter-container">
            <img src="/images/count-icon3.png" alt="" />
            <div class="count-wrap">
              <div class="counter" data-target="42"></div>
              +
            </div>
            <span>Total SKU</span>
          </div>
          <div class="counter-container">
            <img src="/images/count-icon4.png" alt="" />
            <div class="count-wrap">
              <div class="counter" data-target="120"></div>
              +
            </div>
            <span>Total Country</span>
          </div>
          <div class="counter-container">
            <img src="/images/count-icon5.png" alt="" />
            <div class="count-wrap">
              <div class="counter" data-target="2500"></div>
              +
            </div>
            <span>Team Members</span>
          </div>
          <!-- partial -->
        </div>
      </div>
    </section>

    <!-- <section class="welcomesec">
          <div class="container" data-animation="fadeInLeft">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <h2 style="font-weight: 450; margin: 10px;">
                  <span>Welcome To</span>
                  Shakti Pumps
                </h2>
                <p>Welcome to Shakti Pumps, where cutting-edge technology meets unparalleled reliability. Since 1982, we
                  have been at the forefront of the pumping industry, offering a diverse range of products designed to
                  meet the needs of agriculture, industry, and residential applications.</p>
                <p class="hidden-paragraph">Our state-of-the-art manufacturing facility in Madhya Pradesh and our
                  commitment to continuous innovation ensure that we deliver top-quality products that exceed global
                  standards. Explore our extensive product range and discover how we can help you achieve efficiency and
                  sustainability in your pumping solutions.</p>
                <div class="welcomwbtn">
                  <button class="readmore" onclick="toggleParagraph()">Read More</button>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 welrgt">
                <img src="/images/wel-rgtpic.png" alt="" data-animation="fadeInRight">
              </div>              
            </div>
          </div>
        </section>

        <script>
          function toggleParagraph() {
            const paragraph = document.querySelector('.hidden-paragraph');
            const button = document.querySelector('.readmore');
            if (paragraph.style.display === 'none' || !paragraph.style.display) {
              paragraph.style.display = 'block';
              button.textContent = 'Read Less';
            } else {
              paragraph.style.display = 'none';
              button.textContent = 'Read More';
            }
          }

        </script> -->

    <section class="welcomesec">
      <div class="container" data-animation="fadeInLeft">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h2>
              <span>Welcome To</span>
              Shakti Pumps
            </h2>
            <p>
              We are Shakti Pumps (India) Limited, pioneers in manufacturing
              energy-efficient pumps and motors since 1982. Leading the way in
              renewable energy solutions, especially for the agriculture sector,
              we offer a portfolio of over 1,200 indigenously developed
              products.
            </p>
            <p>
              With 3-4% of our net profit invested in R&D, innovation is at the
              core of our operations. We are committed to developing advanced,
              technologically-driven products that address India’s irrigation
              and pumping needs.
            </p>

            <!-- <p>
              Welcome to Shakti Pumps, where cutting-edge technology meets
              unparalleled reliability. Since 1982, we have been at the
              forefront of the pumping industry, offering a diverse range of
              products designed to meet the needs of agriculture, industry, and
              residential applications.
            </p>
            <p>
              Our state-of-the-art manufacturing facility in Madhya Pradesh and
              our commitment to continuous innovation ensure that we deliver
              top-quality products that exceed global standards. Explore our
              extensive product range and discover how we can help you achieve
              efficiency and sustainability in your pumping solutions.
            </p> -->
            <div class="welcomwbtn">
              <!-- <a href="#" class="welresultsbtn"><img src="/images/pdf-icon.png" alt=""> Q3 Result Highlights Fy 2023-24</a> -->
              <a href="#" class="readmore">Read More</a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 welrgt">
            <img
              src="/images/wel-rgtpic.png"
              alt=""
              data-animation="fadeInRight"
            />
          </div>
        </div>
      </div>
    </section>

    <!-- style="max-width: 48.8%" -->

    <section class="worldlarmap">
      <div class="container" data-animation="fadeInUp">
        <h2>
          The World's Largest Pumps and<br />
          Motors Manufacturer & Supplier
        </h2>
        <div class="dynmap" id="dynamic-map">
          <img
            src="/images/Map.png"
            alt="World Map"
            class="map-image"
            style="max-width: 1000px"
          />
        </div>
      </div>
    </section>

    <script>
      const locations = [
        {
          name: "India",
          top: "42%",
          left: "67%",
          tooltip: "India: Largest Manufacturing Hub",
        },
        {
          name: "USA",
          top: "30%",
          left: "20%",
          tooltip: "USA: Key Distributor",
        },
        {
          name: "Germany",
          top: "40%",
          left: "50%",
          tooltip: "Germany: European Headquarters",
        },
        {
          name: "Australia",
          top: "75%",
          left: "83.5%",
          tooltip: "Australia: Emerging Market",
        },
        {
          name: "Japan",
          top: "32%",
          left: "82.7%",
          tooltip: "Japan: Key Distributor",
        },
        {
          name: "China",
          top: "30%",
          left: "68%",
          tooltip: "China: More Customer",
        },
        {
          name: "Bangladesh",
          top: "42%",
          left: "70%",
          tooltip: "Bangladesh: More Customer",
        },
      ];

      function renderMapLocations() {
        const mapContainer = document.getElementById("dynamic-map");

        locations.forEach((location) => {
          const marker = document.createElement("img");
          marker.src = "/images/location-icon.png";
          marker.alt = location.name;
          marker.className = "locationhover";
          marker.style.top = location.top;
          marker.style.left = location.left;

          marker.setAttribute("data-toggle", "tooltip");
          marker.setAttribute("data-placement", "bottom");
          marker.setAttribute("title", location.tooltip);

          mapContainer.appendChild(marker);
        });

        initializeTooltips();
      }

      function initializeTooltips() {
        const tooltipElements = document.querySelectorAll(
          "[data-toggle='tooltip']"
        );
        tooltipElements.forEach((element) => {
          new bootstrap.Tooltip(element);
        });
      }

      document.addEventListener("DOMContentLoaded", renderMapLocations);
    </script>

    <!-- <section class="worldlarmap">
  <div class="container"  data-animation="fadeInUp">
    <h2>The World's Largest Pumps and<br>
      Motors Manufacturer & Supplier</h2>
    <div class="dynmap">
      <img src="/images/Map.png" alt="">
      <img src="/images/location-icon.png" alt="" class="locationhover" data-toggle="tooltip" data-placement="bottom" title="India">
    </div>
  </div>
</section>  -->

    <section class="makeussuccess" style="padding-top: 50px">
      <div class="container" data-animation="fadeInLeft">
        <h2>
          <span>Features & Activities</span>
          Which make us successful
        </h2>
        <div class="suuslider" style="padding-bottom: 20px">
          <div class="sucpan">
            <img src="/images/suc-pic1.png" alt="" />
            <!-- <img src="/images/3K0A7424.png" alt="" /> -->
            <h3>Innovation</h3>
            <div class="succhover">
              <h3>Innovation</h3>
              <p style="text-align: justify">
                Renowned for innovation, we deliver cutting-edge solutions to
                meet evolving needs.
              </p>
            </div>
          </div>
          <div class="sucpan">
            <img src="/images/suc-pic2.png" alt="" />
            <h3>BRAND</h3>
            <div class="succhover">
              <h3>BRAND</h3>
              <p style="text-align: justify">
                Recognized globally as one of the most energy-efficient and
                reliable brands,
              </p>
            </div>
          </div>
          <div class="sucpan">
            <img src="/images/suc-pic2.png" alt="" />
            <h3>INNOVATION</h3>
            <div class="succhover">
              <h3>INNOVATION</h3>
              <p style="text-align: justify">
                Renowned for innovation, we deliver cutting-edge solutions to
                meet evolving needs.
              </p>
            </div>
          </div>
          <div class="sucpan">
            <img src="/images/3K0A7424.png" alt="" />
            <h3>SCALE</h3>
            <div class="succhover">
              <h3>SCALE</h3>
              <p style="text-align: justify">
                A manufacturing capacity of 500,000 pumps per year meets the
                growing global demand for solar pumps.
              </p>
            </div>
          </div>
          <div class="sucpan">
            <img src="/images/suc-pic3.png" alt="" />
            <h3>EFFICIENCY</h3>
            <div class="succhover">
              <h3>EFFICIENCY</h3>
              <p style="text-align: justify">
                Our products' credibility is backed by UL, CE, BIS, and ISO
                certifications, along with BEE five-star rated products.
              </p>
            </div>
          </div>
          <div class="sucpan">
            <img src="/images/suc-pic3.png" alt="" />
            <h3>EXPERIENCE</h3>
            <div class="succhover">
              <h3>EXPERIENCE</h3>
              <p style="text-align: justify">
                We are one of the most quality-driven and cost-effective pump
                manufacturers globally With over three decades of expertise
              </p>
            </div>
          </div>
          <div class="sucpan">
            <img src="/images/suc-pic3.png" alt="" />
            <h3>PRESENCE</h3>
            <div class="succhover">
              <h3>PRESENCE</h3>
              <p style="text-align: justify">
                Our extensive network of dealers and partners covers all Indian
                states and over 125 countries.
              </p>
            </div>
          </div>
          <div class="sucpan">
            <img src="/images/suc-pic3.png" alt="" />
            <h3>TECHNOLOGY</h3>
            <div class="succhover">
              <h3>TECHNOLOGY</h3>
              <p style="text-align: justify">
                Using advanced technology, we manufacture most components
                in-house, optimizing the value chain, reducing costs, and
                enhancing quality control.
              </p>
            </div>
          </div>
          <div class="sucpan">
            <img src="/images/suc-pic3.png" alt="" />
            <h3>SUSTAINABILITY</h3>
            <div class="succhover">
              <h3>SUSTAINABILITY</h3>
              <p style="text-align: justify">
                With a focus on long-term value for future generations,
                sustainability is central to our business model.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ourvalue">
      <div class="container" data-animation="fadeInUp">
        <h2>Our Values</h2>
        <!-- partial:index.partial.html -->
        <ul class="tabs">
          <li class="active" rel="tab1">Instill Passion</li>
          <li rel="tab2">Respect People</li>
          <li rel="tab3">Respect Systems & Processes</li>
          <li rel="tab4">Be Fair & Ethica</li>
          <li rel="tab5">Customer-Centric</li>
          <li rel="tab6">Strive for Excellence</li>
          <!-- <li rel="tab7">Experience</li>
  <li rel="tab8">Sustainability</li> -->
        </ul>
        <div class="tab_container">
          <h3 class="d_active tab_drawer_heading" rel="tab1">
            Instill Passion
          </h3>
          <div id="tab1" class="tab_content">
            <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-6">
                <img src="/images/tab-pic1.png" alt="" />
              </div>
              <div class="col-lg-7 col-md-7 col-sm-6">
                <p>
                  At Shakti Pumps, we foster a culture of enthusiasm and
                  dedication.
                </p>
                <p>
                  Our team is motivated by a shared passion for excellence,
                  driving us to deliver superior products and services
                  consistently.
                </p>
              </div>
            </div>
          </div>
          <!-- #tab1 -->
          <h3 class="tab_drawer_heading" rel="tab2">Respect People</h3>
          <div id="tab2" class="tab_content">
            <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-6">
                <img src="/images/tab-pic1.png" alt="" />
              </div>
              <div class="col-lg-7 col-md-7 col-sm-6">
                <p>We believe in treating everyone with dignity and respect.</p>
                <p>
                  Our commitment to a positive work environment and ethical
                  practices extends to our employees, partners, and customers.
                </p>
              </div>
            </div>
          </div>
          <!-- #tab2 -->
          <h3 class="tab_drawer_heading" rel="tab3">
            Respect Systems & Processes
          </h3>
          <div id="tab3" class="tab_content">
            <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-6">
                <img src="/images/tab-pic1.png" alt="" />
              </div>
              <div class="col-lg-7 col-md-7 col-sm-6">
                <p>
                  Adherence to established systems and processes is crucial for
                  maintaining quality and efficiency.
                </p>
                <p>
                  We continuously refine our procedures to ensure they meet the
                  highest standards and contribute to our overall success.
                </p>
              </div>
            </div>
          </div>
          <!-- #tab3 -->
          <h3 class="tab_drawer_heading" rel="tab4">Be Fair & Ethical</h3>
          <div id="tab4" class="tab_content">
            <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-6">
                <img src="/images/tab-pic1.png" alt="" />
              </div>
              <div class="col-lg-7 col-md-7 col-sm-6">
                <p>
                  Integrity and fairness are at the core of our business
                  practices.
                </p>
                <p>
                  We operate with transparency and honesty, ensuring that all
                  our interactions and transactions are conducted ethically.
                </p>
                <!-- <p> Integrity and fairness are at the core of our business practices.</p>
        <p>We operate with transparency and honesty, ensuring that all our interactions and transactions are conducted ethically.</p> -->
              </div>
            </div>
          </div>
          <!-- #tab4 -->
          <h3 class="tab_drawer_heading" rel="tab5">Customer-Centric</h3>
          <div id="tab5" class="tab_content">
            <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-6">
                <img src="/images/tab-pic1.png" alt="" />
              </div>
              <div class="col-lg-7 col-md-7 col-sm-6">
                <p>Our customers are central to everything we do.</p>
                <p>
                  We listen to their needs, provide tailored solutions, and
                  strive to exceed their expectations with every product and
                  service we offer.
                </p>
              </div>
            </div>
          </div>
          <!-- #tab5 -->
          <h3 class="tab_drawer_heading" rel="tab6">Strive for Excellence</h3>
          <div id="tab6" class="tab_content">
            <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-6">
                <img src="/images/tab-pic1.png" alt="" />
              </div>
              <div class="col-lg-7 col-md-7 col-sm-6">
                <p>Excellence is a continuous journey at Shakti Pumps.</p>
                <p>
                  We are dedicated to improving our processes, products, and
                  services to deliver the highest standards of quality and
                  performance.
                </p>
              </div>
            </div>
          </div>
          <!-- #tab6 -->
          <!-- <h3 class="tab_drawer_heading" rel="tab6">Sustainability</h3>
  <div id="tab7" class="tab_content">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-6">
        <img src="/images/tab-pic1.png" alt="">
      </div>
      <div class="col-lg-7 col-md-7 col-sm-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat eleifend nisl, id consectetur ex faucibus vitae. Nulla porta nibh finibus accumsan condimentum. Integer eu malesuada nunc. Cras eget ipsum sit amet lacus maximus sagittis. Nulla eu sodales lorem. Sed quis vehicula est. Phasellus cursus consequat arcu, quis dignissim quam dapibus non. Cras vestibulum erat malesuada sapien volutpat maximus. Etiam non neque sit amet ante accumsan facilisis eget mattis nunc.</p>
        <p>Nulla facilisi. Sed aliquet tempor ex. Donec sagittis urna arcu, in mattis libero hendrerit at. Sed egestas nulla a neque auctor suscipit. Donec varius libero eget velit consectetur, eget tristique dui rhoncus. Nunc nec erat commodo, ornare orci in, volutpat leo. Suspendisse euismod maximus.</p>
      </div>
    </div>
  </div> -->
          <!-- #tab7 -->
          <!-- <h3 class="tab_drawer_heading" rel="tab8 ">Tab 8</h3>
  <div id="tab8" class="tab_content">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-6">
        <img src="/images/tab-pic1.png" alt="">
      </div>
      <div class="col-lg-7 col-md-7 col-sm-6">
        <p>Consectetur adipiscing elit. Duis volutpat eleifend nisl, id consectetur ex faucibus vitae. Nulla porta nibh finibus accumsan condimentum. Integer eu malesuada nunc. Cras eget ipsum sit amet lacus maximus sagittis. Nulla eu sodales lorem. Sed quis vehicula est. Phasellus cursus consequat arcu, quis dignissim quam dapibus non. Cras vestibulum erat malesuada sapien volutpat maximus. Etiam non neque sit amet ante accumsan facilisis eget mattis nunc.</p>
        <p>Nulla facilisi. Sed aliquet tempor ex. Donec sagittis urna arcu, in mattis libero hendrerit at. Sed egestas nulla a neque auctor suscipit. Donec varius libero eget velit consectetur, eget tristique dui rhoncus. Nunc nec erat commodo, ornare orci in, volutpat leo. Suspendisse euismod maximus.</p>
      </div>
    </div>
  </div> -->
        </div>
      </div>
    </section>
    <section class="sevaahakti">
      <div class="container" data-animation="fadeInUp">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h2>
              <img src="/images/seva.png" alt="" /><br />
              Shakti <br />Foundation - SEVA
            </h2>
            <!-- <img src="/images/innocent-poor.png" alt="" class="inofrm" /> -->
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <p>
              At Shakti Pumps, we believe in giving back to the communities that
              have supported us throughout our journey.
            </p>
            <p>
              Through the Shakti Foundation’s SEVA initiatives, we are dedicated
              to making a meaningful difference in the lives of those around us.
            </p>
            <p>
              Our CSR efforts focus on three key areas: education, healthcare,
              and social development.
            </p>
            <a href="/csr" class="readmore">Read More</a>
          </div>
        </div>
      </div>
    </section>
    <section class="newsevent" data-animation="fadeInRight">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="newspan">
              <h2>News</h2>
              <ul>
                <% if(Array.isArray(last4News) && last4News.length> 0){%> <%
                last4News.map((news)=>{ %>
                <li>
                  <a href="/media/news-listing">
                    <p><%= news?.heading.slice(0,72)%>...</p>
                    <div>
                      <span> <%= news?.news_date%> </span>
                      <span>Times Of India</span>
                    </div>
                  </a>
                </li>
                <% })%> <%}%>

                <!-- <li>
            <p>Shakti Domestic pumps are Ideal for homes to maintain water pressure in</p>
            <div><span> 10th Jan, 2024</span> <span>Times Of India</span></div>
          </li>
          <li>
            <p>Shakti Domestic pumps are Ideal for homes to maintain water pressure in</p>
            <div><span> 10th Jan, 2024</span> <span>Times Of India</span></div>
          </li>
          <li>
            <p>Shakti Domestic pumps are Ideal for homes to maintain water pressure in</p>
            <div><span> 10th Jan, 2024</span> <span>Times Of India</span></div>
          </li>
          <li>
            <p>Shakti Domestic pumps are Ideal for homes to maintain water pressure in</p>
            <div><span> 10th Jan, 2024</span> <span>Times Of India</span></div>
          </li> -->
              </ul>
              <a href="/media/news-listing" class="readmore">View All News</a>
            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="eventdtls">
              <h2>Events</h2>
              <div class="eventslide">
                <div class="eventpan">
                  <img src="/images/eventpic1.png" />
                  <p>
                    <%= recentEvent?.event_name.slice(0,36)%>
                    <span>
                      <%= recentEvent?.event_frm_date%> | Times Of India
                    </span>
                  </p>
                </div>
              </div>

              <a href="/newseventListing/event-list" class="readmore"
                >All Events</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="marketinfo">
      <div class="container" data-animation="fadeInLeft">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="marketinfoleft">
              <h2>Market Info</h2>
              <img src="/images/nse.png" alt="" />
              <img src="/images/bse.png" alt="" />
            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="markerinforgt">
              <div class="marketnotice">
                <h2>Notices</h2>
                <p>
                  <span>10th Jan, 2024</span> Shakti Domestic pumps are Ideal
                  for homes to maintain water pressure in taps and fo
                </p>
                <p>
                  <span>10th Jan, 2024</span> Shakti Domestic pumps are Ideal
                  for homes to maintain water pressure in taps and fo
                </p>
                <a href="/noticeInvestor/notice-list"
                  >View All Notices
                  <svg
                    width="24"
                    height="13"
                    viewBox="0 0 24 13"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M22.0788 7H0V6H22.0788L17.2865 1.20775L18 0.5L24 6.5L18 12.5L17.2865 11.7923L22.0788 7Z"
                      fill="#1F2B4C"
                    /></svg
                ></a>
              </div>
              <div class="marketinvedoc">
                <h2>Investor Documents</h2>
                <p>
                  <span>10th Jan, 2024</span>
                  <svg
                    width="26"
                    height="26"
                    viewBox="0 0 26 26"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M22.5407 14.8179C21.5055 14.8179 20.2348 14.936 18.758 15.1703C16.6965 13.2589 14.5449 10.4675 13.0264 7.72736C14.5325 2.18701 13.7789 1.40256 13.4466 1.03248C13.0929 0.638779 12.5938 0 12.0261 0C11.7884 0 11.1396 0.0944881 10.8816 0.169291C10.2327 0.358268 9.88353 0.795276 9.60416 1.36516C8.80773 2.99213 9.90042 5.76575 11.0247 7.90354C10.0638 11.2431 8.45176 15.2402 6.75753 18.4843C2.48815 20.1929 0.220532 21.8711 0.0155117 23.4724C-0.0588363 24.0551 0.0988735 24.9104 1.27154 25.6791C1.59259 25.8888 1.96884 26 2.36086 26C3.34653 26 4.34234 25.3406 5.49474 23.9262C6.3351 22.8947 7.23741 21.4882 8.17915 19.7421C11.1959 18.5896 14.9279 17.5482 18.1238 16.9646C19.9036 18.4577 21.4976 19.2136 22.8674 19.2136C23.8767 19.2136 24.7419 18.8081 25.3682 18.0413C26.0204 17.2431 26.1691 16.5285 25.8075 15.9154C25.3738 15.1782 24.3048 14.8179 22.5407 14.8179ZM2.38564 24.3386C1.85844 23.9852 1.88886 23.747 1.90012 23.6575C1.96996 23.1102 2.95113 22.1388 5.35843 20.9567C3.53353 23.9016 2.55348 24.2923 2.38564 24.3386ZM11.6228 1.77756C11.6713 1.76378 12.8 2.86122 11.731 4.94291C10.1246 3.50689 11.5124 1.81004 11.6228 1.77756ZM9.29437 17.5512C10.4378 15.1703 11.5012 12.5413 12.3066 10.1063C13.5716 12.0925 15.0913 14.0197 16.612 15.563C14.2081 16.0561 11.6487 16.752 9.29437 17.5512ZM23.8272 17.0797C23.4802 17.5039 22.7277 17.5138 22.4641 17.5138C21.8637 17.5138 21.6395 17.2018 20.7214 16.5846C21.4784 16.5 22.1926 16.4783 22.7615 16.4783C23.763 16.4783 23.9466 16.6073 24.0851 16.6722C24.0603 16.7421 23.995 16.874 23.8272 17.0797Z"
                      fill="#1F2B4C"
                    />
                  </svg>
                  Shakti Domestic pumps are Ideal for homes to maintain water
                  pressure in taps and for general applications.
                </p>
                <p>
                  <span>10th Jan, 2024</span>
                  <svg
                    width="26"
                    height="26"
                    viewBox="0 0 26 26"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M22.5407 14.8179C21.5055 14.8179 20.2348 14.936 18.758 15.1703C16.6965 13.2589 14.5449 10.4675 13.0264 7.72736C14.5325 2.18701 13.7789 1.40256 13.4466 1.03248C13.0929 0.638779 12.5938 0 12.0261 0C11.7884 0 11.1396 0.0944881 10.8816 0.169291C10.2327 0.358268 9.88353 0.795276 9.60416 1.36516C8.80773 2.99213 9.90042 5.76575 11.0247 7.90354C10.0638 11.2431 8.45176 15.2402 6.75753 18.4843C2.48815 20.1929 0.220532 21.8711 0.0155117 23.4724C-0.0588363 24.0551 0.0988735 24.9104 1.27154 25.6791C1.59259 25.8888 1.96884 26 2.36086 26C3.34653 26 4.34234 25.3406 5.49474 23.9262C6.3351 22.8947 7.23741 21.4882 8.17915 19.7421C11.1959 18.5896 14.9279 17.5482 18.1238 16.9646C19.9036 18.4577 21.4976 19.2136 22.8674 19.2136C23.8767 19.2136 24.7419 18.8081 25.3682 18.0413C26.0204 17.2431 26.1691 16.5285 25.8075 15.9154C25.3738 15.1782 24.3048 14.8179 22.5407 14.8179ZM2.38564 24.3386C1.85844 23.9852 1.88886 23.747 1.90012 23.6575C1.96996 23.1102 2.95113 22.1388 5.35843 20.9567C3.53353 23.9016 2.55348 24.2923 2.38564 24.3386ZM11.6228 1.77756C11.6713 1.76378 12.8 2.86122 11.731 4.94291C10.1246 3.50689 11.5124 1.81004 11.6228 1.77756ZM9.29437 17.5512C10.4378 15.1703 11.5012 12.5413 12.3066 10.1063C13.5716 12.0925 15.0913 14.0197 16.612 15.563C14.2081 16.0561 11.6487 16.752 9.29437 17.5512ZM23.8272 17.0797C23.4802 17.5039 22.7277 17.5138 22.4641 17.5138C21.8637 17.5138 21.6395 17.2018 20.7214 16.5846C21.4784 16.5 22.1926 16.4783 22.7615 16.4783C23.763 16.4783 23.9466 16.6073 24.0851 16.6722C24.0603 16.7421 23.995 16.874 23.8272 17.0797Z"
                      fill="#1F2B4C"
                    />
                  </svg>
                  Shakti Domestic pumps are Ideal for homes to maintain water
                  pressure in taps and for general applications.
                </p>
                <a href="/noticeInvestor/investor-list"
                  >View All Documents
                  <svg
                    width="24"
                    height="13"
                    viewBox="0 0 24 13"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M22.0788 7H0V6H22.0788L17.2865 1.20775L18 0.5L24 6.5L18 12.5L17.2865 11.7923L22.0788 7Z"
                      fill="#1F2B4C"
                    /></svg
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="motorssec">
      <div class="container" data-animation="fadeInRight">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h2>
              <span>The World's <br />Largest</span> Pumps, Motors Manufacturer
              & Supplier
            </h2>
            <a href="#" class="readmore">Explore With Us</a>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="motorsslide">
              <div class="motorpan">
                <img src="/images/motor-pic1.png" alt="" />
                <img src="/images/motor-pic1.png" alt="" />
              </div>
              <div class="motorpan">
                <img src="/images/motor-pic1.png" alt="" />
                <img src="/images/motor-pic1.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="tomorrowsucc">
      <div class="container" data-animation="fadeInUp">
        <h2>Tomorrow’s Success Starts Today</h2>
        <p>
          Our journey is fuelled by a simple yet powerful principle: taking
          decisive steps today ensures a brighter, more sustainable tomorrow.
        </p>
        <a href="/contact" class="readmore">Connect With Us</a>
      </div>
    </section>
    <section>
      <div class="container"></div>
    </section>
    <!-- <section class="testimoni">
      <div class="container" data-animation="fadeInLeft">
        <h2><span>Client’s</span> Testimonials</h2>
        <div class="testimonialslide">
          <div class="testipan">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="testpropic">
                  <img
                    src="/images/testimoni-profile-frame.png"
                    alt=""
                    class="testprofrm"
                  />
                  <img
                    src="/images/testimoni-profile-pic.png"
                    alt=""
                    class="testproimg"
                  />
                  <img
                    src="/images/play-icon.png"
                    alt=""
                    class="testprovidbtn"
                  />
                </div>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-12">
                <p>
                  Hearty wishes to you all in Shakti Pumps. We are a small group
                  of brothers, who have installed 3nos 5HP Pumps to the bore
                  well. Thanks to the timely help and action. Our 9acres paddy
                  crop is saved.
                </p>
                <p>
                  At the same time having installed the pumps, I bought 2000
                  Equity shares of Shakti Pumps @ 172. Oh! My phenomenal jump
                  and good annual result. God Bless the entire team of
                  performance and give you more energy in bringing the solar
                  energy into noble use.
                </p>
                <h3>
                  Mr. Krishna Murti, Bangalore <span>CEO, Company Name</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <%- include('./common/footer.ejs')%>
  </body>
</html>
