<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shakti Pumps</title>
    <link rel="icon" type="image/x-icon" href="/img/fav.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link rel="stylesheet" href="/css/style-loading.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
  </head>
  <body>
    <%- include('../common/header.ejs') %>

    <section class="productban prodtlsban">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h2>Shakti Pumps</h2>
            <p>
              Innovative, energy-efficient pumping solutions designed to empower
              industries, agriculture, and communities worldwide
            </p>
            <div class="indusbannerbtn">
              <a href="#" class="welresultsbtn"
                ><img src="/images/pdf-icon.png" alt="" /> Download Product
                Brochure</a
              >
              <a href="#" class="welresultsbtn green"
                ><img src="/images/calculator.png" alt="" />Pump Selector</a
              >
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 prodtlsbannpic">
            <img src="/images/prod-listban.png" alt="" />
          </div>
        </div>
      </div>
    </section>
    <section class="prolistfil">
      <div class="fullcontainer">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-12 prolftfilter">
            <ul class="accordion">
              <li>
                <a class="toggle" href="#">Product Range</a>
                <div class="inner">
                  <div class="cutsom-checkbox-row">
                    <input id="checkbox1" type="checkbox" />
                    <label for="checkbox1">Domestic</label>
                  </div>
                  <div class="cutsom-checkbox-row">
                    <input id="checkbox2" type="checkbox" />
                    <label for="checkbox2">International</label>
                  </div>
                  <div class="cutsom-checkbox-row">
                    <input id="checkbox3" type="checkbox" />
                    <label for="checkbox3">Government Projects</label>
                  </div>
                </div>
              </li>

              <li id="lftacc" class="">
                <a class="toggle" href="#">Product Category</a>
                <div class="inner">
                  <div class="cutsom-checkbox-row">
                    <input id="checkbox1" type="checkbox" />
                    <label for="checkbox1">Domestic</label>
                  </div>
                  <div class="cutsom-checkbox-row">
                    <input id="checkbox2" type="checkbox" />
                    <label for="checkbox2">International</label>
                  </div>
                  <div class="cutsom-checkbox-row">
                    <input id="checkbox3" type="checkbox" />
                    <label for="checkbox3">Government Projects</label>
                  </div>
                </div>
              </li>

              <li>
                <a class="toggle" href="#">Poles</a>
                <div class="inner">
                  <div class="cutsom-checkbox-row">
                    <input id="checkbox1" type="checkbox" />
                    <label for="checkbox1">Domestic</label>
                  </div>
                  <div class="cutsom-checkbox-row">
                    <input id="checkbox2" type="checkbox" />
                    <label for="checkbox2">International</label>
                  </div>
                  <div class="cutsom-checkbox-row">
                    <input id="checkbox3" type="checkbox" />
                    <label for="checkbox3">Government Projects</label>
                  </div>
                </div>
              </li>

              <li>
                <a class="toggle" href="#">Head, H</a>
                <div class="inner">
                  <div class="cutsom-checkbox-row">
                    <input id="checkbox1" type="checkbox" />
                    <label for="checkbox1">Domestic</label>
                  </div>
                  <div class="cutsom-checkbox-row">
                    <input id="checkbox2" type="checkbox" />
                    <label for="checkbox2">International</label>
                  </div>
                  <div class="cutsom-checkbox-row">
                    <input id="checkbox3" type="checkbox" />
                    <label for="checkbox3">Government Projects</label>
                  </div>
                </div>
              </li>
              <li>
                <a class="toggle" href="#">Discharge</a>
                <div class="inner">
                  <div class="cutsom-checkbox-row">
                    <input id="checkbox1" type="checkbox" />
                    <label for="checkbox1">Domestic</label>
                  </div>
                  <div class="cutsom-checkbox-row">
                    <input id="checkbox2" type="checkbox" />
                    <label for="checkbox2">International</label>
                  </div>
                  <div class="cutsom-checkbox-row">
                    <input id="checkbox3" type="checkbox" />
                    <label for="checkbox3">Government Projects</label>
                  </div>
                </div>
              </li>
              <li>
                <a class="toggle" href="#">Flow. Q</a>
                <p class="inner">
                  Let's make a nice big leafy tree. You have to make those
                  little noises or it won't work. Let's put some happy little
                  clouds in our world. We don't really know where this goes -
                  and I'm not sure we really care. When you do it your way you
                  can go anywhere you choose. No worries. No cares. Just float
                  and wait for the wind to blow you around.
                </p>
              </li>
              <li>
                <a class="toggle" href="#">Rating</a>
                <div class="inner">
                  <div class="cutsom-checkbox-row">
                    <input id="checkbox1" type="checkbox" />
                    <label for="checkbox1">Domestic</label>
                  </div>
                  <div class="cutsom-checkbox-row">
                    <input id="checkbox2" type="checkbox" />
                    <label for="checkbox2">International</label>
                  </div>
                  <div class="cutsom-checkbox-row">
                    <input id="checkbox3" type="checkbox" />
                    <label for="checkbox3">Government Projects</label>
                  </div>
                </div>
              </li>
            </ul>
            <!-- partial -->
          </div>
          <div class="col-lg-10 col-md-10 col-sm-12 prorgtlist">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="protitlebrcam">
                  <h2>Pumps</h2>
                  <ul>
                    <li><a href="#">Product</a></li>
                    <li><a href="#" class="active">Pumps</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="protitrgt">
                  <h3>Total Product: <strong>2500</strong></h3>
                  <a href="#" class="welresultsbtn"
                    ><img src="/images/calculator.png" alt="" />Pump Selector</a
                  >
                </div>
              </div>
            </div>
            <div class="prodlistrow">
              <div class="sucpan">
                <img src="/images/proulistpic1.png" alt="" />
                <h3>Submersible Pumps</h3>
                <h4>SHOS C Series</h4>
              </div>

              <% if (Array.isArray(recordset) && recordset.length > 0)
              {recordset.forEach(function(pump) { %>
              <!-- <li><%= pump %></li>  -->
              <!-- <img src="/pumpImages/<%= pump.img1 %>" alt=""> -->

              <div class="sucpan">
                <a
                  href="/product/product-details/<%= pump.category %>/<%= pump.id %>"
                >
                  <img src="/images/proulistpic1.png" alt="" />
                  <h3><%=pump.productName %></h3>
                  <h4><%pump.perfo1 %></h4>
                </a>
                <a href="#" class="readmore">Read More</a>
              </div>

              <div class="sucpan">
                <img src="/images/proulistpic1.png" alt="" />
                <h3>Submersible Pumps</h3>
                <h4>SHOS C Series</h4>
              </div>

              <% })} %>

              <!-- <div class="sucpan">
                <img src="/images/proulistpic1.png" alt="" />
                <h3>Submersible Pumps</h3>
                <h4>SHOS C Series</h4>
              </div> -->

              <div class="sucpan">
                <img src="/images/proulistpic1.png" alt="" />
                <h3>Submersible Pumps</h3>
                <h4>SHOS C Series</h4>
              </div>

              <div class="sucpan">
                <img src="/images/proulistpic1.png" alt="" />
                <h3>Submersible Pumps</h3>
                <h4>SHOS C Series</h4>
              </div>

              <!-- <div class="sucpan">
                <img src="/images/proulistpic1.png" alt="">
                <h3>Submersible Pumps</h3>
                <h4>SHOS C Series</h4>
              </div> -->

              <!-- <div class="sucpan">
                <img src="/images/proulistpic1.png" alt="">
                <h3>Submersible Pumps</h3>
                <h4>SHOS C Series</h4>
              </div> -->

              <!-- <div class="sucpan">
                <img src="/images/proulistpic1.png" alt="">
                <h3>Submersible Pumps</h3>
                <h4>SHOS C Series</h4>
              </div>
              <div class="sucpan">
                <img src="/images/proulistpic1.png" alt="">
                <h3>Submersible Pumps</h3>
                <h4>SHOS C Series</h4>
              </div>
              <div class="sucpan">
                <img src="/images/proulistpic1.png" alt="">
                <h3>Submersible Pumps</h3>
                <h4>SHOS C Series</h4>
              </div>
              <div class="sucpan">
                <img src="/images/proulistpic1.png" alt="">
                <h3>Submersible Pumps</h3>
                <h4>SHOS C Series</h4>
              </div>
              <div class="sucpan">
                <img src="/images/proulistpic1.png" alt="">
                <h3>Submersible Pumps</h3>
                <h4>SHOS C Series</h4>
              </div>
              <div class="sucpan">
                <img src="/images/proulistpic1.png" alt="">
                <h3>Submersible Pumps</h3>
                <h4>SHOS C Series</h4>
              </div> -->
            </div>
            <div class="moreloadpro">
              <a href="#" class="readmore">View More 2488 Products</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('../common/footer.ejs')%>
  </body>
</html>
