<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shakti Pumps</title>
    <link rel="icon" type="image/x-icon" href="/img/fav.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link rel="stylesheet" href="/css/style-loading.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
  </head>
  <body>
    <%- include('../common/header.ejs') %>

    <section class="about-banner lifeatsktban">
      <div><img src="/images/financial-banner.png" alt="" /></div>
      <div class="container">
        <h2>
          General <br />
          Information
        </h2>
      </div>
    </section>

    <section class="foundtiontab financialyeartab">
      <div class="container">
        <!-- <div class="selectcat">
          <select onchange="getval(this.value);">
            <option>ALL</option>
            <option value="2024-2025">2024-2025</option>
            <option value="2023-2024">2023-2024</option>
            <option value="2022-2023">2022-2023</option>
          </select>
        </div> -->
        <!-- <ul class="tabs">
          <li class="active" rel="tab1">
            General Information
            <!- <span>Consectetur Adipiscing Elit</span> ->
          </li>
        </ul> -->
        <section class="boarddirector">
          <div class="container">
            <h2>Board of Directors</h2>
            <div id="team-cards" class="row"></div>
            <script>
              const teamMembers = [
                {
                  id: 0,
                  name: "Mr. Dinesh Patidar",
                  title: "Chairman & Director",
                  image: "/images/member1.png",
                  modalImage: "/images/popup-team1.png",
                  description:
                    "Dinesh Patidar, esteemed Chairman of Shakti Pumps (India) Limited, embodies a visionary leader propelling innovation and excellence in pump manufacturing. With Shakti Pumps' roots dating back to 1982, the company has etched itself as an industry pioneer, crafting India's inaugural BEE 5 Star rated pumps and pioneering 100% stainless steel pumps and energy-efficient motors.Hailing from an agricultural background, Mr. Patidar pursued a Commerce degree in Indore and apprenticed under his father, dedicating unwavering commitment to nurture Shakti Pumps. Assuming leadership in 1986, his foresight expanded Shakti Pumps to 120+ countries, introducing stainless steel pumps and establishing the brand as a national leader across diverse pump categories. Mr. Patidar leads Shakti Pumps with a holistic approach, infusing core values into all operations. He drives product design, manufacturing, and strategic decisions, fostering transparency and innovation. His guidance led to Shakti Pumps becoming India's pioneering 5-star pump manufacturer, contributing significantly to the nation's energy goals. His relentless pursuit of innovation earned nine patents, while advocating for equality shaped the company's values of respect, ethics, and customer-centricity.",
                },
                {
                  id: 1,
                  name: "Mr. Ramesh Patidar",
                  title: "Managing Director",
                  image: "/images/file.png",
                  modalImage: "/images/file.png",
                  description:
                    "Mr. Ramesh Patidar is the Managing Director of Shakti Pumps, a leading name in the field of water pumping solutions. With a diverse background and extensive experience spanning over 15 years, Mr. Patidar has been instrumental in driving the company's growth and success in both domestic and international markets. Graduated in Business Administration, Mr. Patidar brings a wealth of knowledge and expertise to his role as Managing Director. He has demonstrated exceptional leadership in international business development, spearheading initiatives to explore and expand new business opportunities across the globe. Mr. Patidar is recognized for his innovative thinking and ability to identify emerging trends, which he leverages to achieve organizational objectives and enhance profitability.",
                },
                {
                  id: 3,
                  name: "Mr. Sunil Patidar",
                  title: "Executive Director",
                  image: "/images/member3.png",
                  modalImage: "/images/member3.png",
                  description:
                    "Is a visionary, self-made industrialist and leader with a strong business acumen and knowledge in development of engineering products and management.",
                },
                {
                  id: 4,
                  name: "Mr. Ashwin Bhootda",
                  title: "Whole Time Director",
                  image: "/images/member4.png",
                  modalImage: "/images/member4.png",
                  description:
                    "Expert in operations and execution of various business strategies.",
                },
                {
                  id: 5,
                  name: "Mr. Hirabhai Somabhai Patel",
                  title: "Independent Director",
                  image: "/images/member5.png",
                  modalImage: "/images/member5.png",
                  description:
                    "Highly experienced in independent board governance and management.",
                },
                {
                  id: 6,
                  name: "Mr. Bhim Singh",
                  title: "Independent Director",
                  image: "/images/member6.png",
                  modalImage: "/images/member6.png",
                  description:
                    "Specializes in strategic oversight and long-term planning.",
                },
                {
                  id: 7,
                  name: "Mr. V.S.S. Pavan Kumar Hari",
                  title: "Independent Director",
                  image: "/images/member7.png",
                  modalImage: "/images/member7.png",
                  description:
                    "Has a strong background in advisory roles and regulatory affairs.",
                },
                {
                  id: 8,
                  name: "Mr. Keyur Bipinchandra Thaker",
                  title: "Executive Director",
                  image: "/images/member8.png",
                  modalImage: "/images/member8.png",
                  description:
                    "Focused on corporate strategy and executive-level decision making.",
                },
                {
                  id: 9,
                  name: "Mrs. Nishtha Neema",
                  title: "Independent Director",
                  image: "/images/member9.png",
                  modalImage: "/images/member9.png",
                  description:
                    "Experienced professional in corporate governance and stakeholder relations.",
                },
              ];

              function generateTeamMembers() {
                const teamCardsContainer =
                  document.getElementById("team-cards");

                teamMembers.forEach((member) => {
                  const teamCard = document.createElement("div");
                  teamCard.classList.add(
                    "col-lg-4",
                    "col-md-6",
                    "col-sm-12",
                    "mempan"
                  );
                  teamCard.innerHTML = `
                        <img src="${member.image}" alt="${member.name}">
                        <h3>${member.name} <span>${member.title}</span></h3>
                        <img src="/images/plus-icon.png" alt="plus icon" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup${member.id}">
                    `;
                  teamCardsContainer.appendChild(teamCard);

                  const modal = document.createElement("div");
                  modal.classList.add("modal", "fade");
                  modal.id = `teampopup${member.id}`;
                  modal.setAttribute("data-bs-backdrop", "static");
                  modal.setAttribute("data-bs-keyboard", "false");
                  modal.setAttribute("tabindex", "-1");
                  modal.setAttribute(
                    "aria-labelledby",
                    `teampopup${member.id}`
                  );
                  modal.setAttribute("aria-hidden", "true");
                  modal.innerHTML = `
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <img src="/images/pop-close.png" alt="Close">
                                </button>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-5 col-sm-12 teampropic">
                                            <img src="${member.modalImage}" alt="Team Member Image">
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-12 teampopdtls">
                                            <h3>${member.name} <span>${member.title}</span></h3>
                                            <p>${member.description}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `;
                  document.body.appendChild(modal);
                });
              }

              window.onload = function () {
                generateTeamMembers();
              };
            </script>
          </div>
        </section>

        <section class="ourvalue">
          <div class="container" data-animation="fadeInUp">
            <h2>Our Committee</h2>
            <ul class="tabs">
              <li class="active" rel="tab1">Audit</li>
              <li rel="tab2">Nomination & Remuneration</li>
              <li rel="tab3">Treasury</li>
              <li rel="tab4">Stakeholder Relationship</li>
              <li rel="tab5">Risk Management</li>
              <li rel="tab6">Corporate Social Responsibility</li>
            </ul>
            <div class="tab_container">
              <h3 class="d_active tab_drawer_heading" rel="tab1">Audit</h3>
              <div id="tab1" class="tab_content">
                <div class="managerlists membtab">
                  <div class="mempan">
                    <img src="/images/dummy-pic.png" alt="" />
                    <h3>Mr. Ravi Patidar <span>Company Secretary</span></h3>
                    <img
                      src="/images/plus-icon.png"
                      alt=""
                      class="popicon"
                      data-bs-toggle="modal"
                      data-bs-target="#teampopup"
                    />
                  </div>
                  <div class="mempan">
                    <img src="/images/dummy-pic.png" alt="" />
                    <h3>
                      Dr Chinmay Jain <span>Chief Technical Officer</span>
                    </h3>
                    <img
                      src="/images/plus-icon.png"
                      alt=""
                      class="popicon"
                      data-bs-toggle="modal"
                      data-bs-target="#teampopup"
                    />
                  </div>
                  <div class="mempan">
                    <img src="/images/dummy-pic.png" alt="" />
                    <h3>
                      Prof. BM Sharma
                      <span>Overall Head (Operations & HR)</span>
                    </h3>
                    <img
                      src="/images/plus-icon.png"
                      alt=""
                      class="popicon"
                      data-bs-toggle="modal"
                      data-bs-target="#teampopup"
                    />
                  </div>
                </div>
              </div>
              <!- #tab1 ->
              <h3 class="tab_drawer_heading" rel="tab2">
                Nomination & Remuneration
              </h3>
              <div id="tab2" class="tab_content">
                <div class="managerlists membtab">
                  <div class="mempan">
                    <img src="/images/dummy-pic.png" alt="" />
                    <h3>Mr. Ravi Patidar <span>Company Secretary</span></h3>
                    <img
                      src="/images/plus-icon.png"
                      alt=""
                      class="popicon"
                      data-bs-toggle="modal"
                      data-bs-target="#teampopup"
                    />
                  </div>
                  <div class="mempan">
                    <img src="/images/dummy-pic.png" alt="" />
                    <h3>
                      Dr Chinmay Jain <span>Chief Technical Officer</span>
                    </h3>
                    <img
                      src="/images/plus-icon.png"
                      alt=""
                      class="popicon"
                      data-bs-toggle="modal"
                      data-bs-target="#teampopup"
                    />
                  </div>
                  <div class="mempan">
                    <img src="/images/dummy-pic.png" alt="" />
                    <h3>
                      Prof. BM Sharma
                      <span>Overall Head (Operations & HR)</span>
                    </h3>
                    <img
                      src="/images/plus-icon.png"
                      alt=""
                      class="popicon"
                      data-bs-toggle="modal"
                      data-bs-target="#teampopup"
                    />
                  </div>
                </div>
              </div>
              <!- #tab2 ->
              <h3 class="tab_drawer_heading" rel="tab3">Treasury</h3>
              <div id="tab3" class="tab_content">
                <div class="managerlists membtab">
                  <div class="mempan">
                    <img src="/images/dummy-pic.png" alt="" />
                    <h3>Mr. Ravi Patidar <span>Company Secretary</span></h3>
                    <img
                      src="/images/plus-icon.png"
                      alt=""
                      class="popicon"
                      data-bs-toggle="modal"
                      data-bs-target="#teampopup"
                    />
                  </div>
                  <div class="mempan">
                    <img src="/images/dummy-pic.png" alt="" />
                    <h3>
                      Dr Chinmay Jain <span>Chief Technical Officer</span>
                    </h3>
                    <img
                      src="/images/plus-icon.png"
                      alt=""
                      class="popicon"
                      data-bs-toggle="modal"
                      data-bs-target="#teampopup"
                    />
                  </div>
                  <div class="mempan">
                    <img src="/images/dummy-pic.png" alt="" />
                    <h3>
                      Prof. BM Sharma
                      <span>Overall Head (Operations & HR)</span>
                    </h3>
                    <img
                      src="/images/plus-icon.png"
                      alt=""
                      class="popicon"
                      data-bs-toggle="modal"
                      data-bs-target="#teampopup"
                    />
                  </div>
                </div>
              </div>
              <!- #tab3 ->
              <h3 class="tab_drawer_heading" rel="tab4">
                Stakeholder Relationship
              </h3>
              <div id="tab4" class="tab_content">
                <div class="managerlists membtab">
                  <div class="mempan">
                    <img src="/images/dummy-pic.png" alt="" />
                    <h3>Mr. Ravi Patidar <span>Company Secretary</span></h3>
                    <img
                      src="/images/plus-icon.png"
                      alt=""
                      class="popicon"
                      data-bs-toggle="modal"
                      data-bs-target="#teampopup"
                    />
                  </div>
                  <div class="mempan">
                    <img src="/images/dummy-pic.png" alt="" />
                    <h3>
                      Dr Chinmay Jain <span>Chief Technical Officer</span>
                    </h3>
                    <img
                      src="/images/plus-icon.png"
                      alt=""
                      class="popicon"
                      data-bs-toggle="modal"
                      data-bs-target="#teampopup"
                    />
                  </div>
                  <div class="mempan">
                    <img src="/images/dummy-pic.png" alt="" />
                    <h3>
                      Prof. BM Sharma
                      <span>Overall Head (Operations & HR)</span>
                    </h3>
                    <img
                      src="/images/plus-icon.png"
                      alt=""
                      class="popicon"
                      data-bs-toggle="modal"
                      data-bs-target="#teampopup"
                    />
                  </div>
                </div>
              </div>
              <!- #tab4 ->
              <h3 class="tab_drawer_heading" rel="tab5">Risk Management</h3>
              <div id="tab5" class="tab_content">
                <div class="managerlists membtab">
                  <div class="mempan">
                    <img src="/images/dummy-pic.png" alt="" />
                    <h3>Mr. Ravi Patidar <span>Company Secretary</span></h3>
                    <img
                      src="/images/plus-icon.png"
                      alt=""
                      class="popicon"
                      data-bs-toggle="modal"
                      data-bs-target="#teampopup"
                    />
                  </div>
                  <div class="mempan">
                    <img src="/images/dummy-pic.png" alt="" />
                    <h3>
                      Dr Chinmay Jain <span>Chief Technical Officer</span>
                    </h3>
                    <img
                      src="/images/plus-icon.png"
                      alt=""
                      class="popicon"
                      data-bs-toggle="modal"
                      data-bs-target="#teampopup"
                    />
                  </div>
                  <div class="mempan">
                    <img src="/images/dummy-pic.png" alt="" />
                    <h3>
                      Prof. BM Sharma
                      <span>Overall Head (Operations & HR)</span>
                    </h3>
                    <img
                      src="/images/plus-icon.png"
                      alt=""
                      class="popicon"
                      data-bs-toggle="modal"
                      data-bs-target="#teampopup"
                    />
                  </div>
                </div>
              </div>
              <!- #tab5 ->
              <h3 class="tab_drawer_heading" rel="tab6">
                Corporate Social Responsibility
              </h3>
              <div id="tab6" class="tab_content">
                <div class="managerlists membtab">
                  <div class="mempan">
                    <img src="/images/dummy-pic.png" alt="" />
                    <h3>Mr. Ravi Patidar <span>Company Secretary</span></h3>
                    <img
                      src="/images/plus-icon.png"
                      alt=""
                      class="popicon"
                      data-bs-toggle="modal"
                      data-bs-target="#teampopup"
                    />
                  </div>
                  <div class="mempan">
                    <img src="/images/dummy-pic.png" alt="" />
                    <h3>
                      Dr Chinmay Jain <span>Chief Technical Officer</span>
                    </h3>
                    <img
                      src="/images/plus-icon.png"
                      alt=""
                      class="popicon"
                      data-bs-toggle="modal"
                      data-bs-target="#teampopup"
                    />
                  </div>
                  <div class="mempan">
                    <img src="/images/dummy-pic.png" alt="" />
                    <h3>
                      Prof. BM Sharma
                      <span>Overall Head (Operations & HR)</span>
                    </h3>
                    <img
                      src="/images/plus-icon.png"
                      alt=""
                      class="popicon"
                      data-bs-toggle="modal"
                      data-bs-target="#teampopup"
                    />
                  </div>
                </div>
              </div>
              <!- #tab6 ->
            </div>
          </div>
        </section>

        <section class="ourvalue mediasoacial">
          <div class="container" data-animation="fadeInUp">
            <h2>Other Information</h2>
            <ul class="tabssinfo">
              <li class="active" rel="tab11">
                Terms of Appointment of Independent Director
              </li>
              <li rel="tab22">Transfer of shares to IEPF</li>
              <li rel="tab33">Resignation Letter</li>
            </ul>
            <div class="tab_container">
              <h3 class="d_active tab_drawer_heading" rel="tab11">
                Terms of Appointment of Independent Director
              </h3>
              <div id="tab11" class="tab_contentsinfo">
                <div class="foundtabinsid financedtlstab">
                  <div class="downloadcardlist">
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!- #tab1 ->
              <h3 class="tab_drawer_heading" rel="tab22">
                Transfer of shares to IEPF
              </h3>
              <div id="tab22" class="tab_contentsinfo">
                <div class="foundtabinsid financedtlstab">
                  <div class="downloadcardlist">
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!- #tab2 ->
              <h3 class="tab_drawer_heading" rel="tab33">Resignation Letter</h3>
              <div id="tab33" class="tab_contentsinfo">
                <div class="foundtabinsid financedtlstab">
                  <div class="downloadcardlist">
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                    <div class="downloadcardpan subsidaryrestpan">
                      <h3>SESPL Result 2022-23 Q4</h3>
                      <a href="#" class="readmore"
                        ><img src="assets/images/pdf-iconwh.png" alt="" />
                        Download</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!- #tab3 ->
            </div>
          </div>
        </section>
      </div>
      <!-- .tab_container -->
    </section>
    <%- include('../common/footer.ejs') %>
  </body>
</html>

<!-- <div class="tab_container">
    <h3 class="d_active tab_drawer_heading" rel="tab1">
      General Information
    </h3>
    <div id="tab1" class="tab_content">
      <div class="foundtabinsid financedtlstab">
        <div class="financedtlstitle">
          <h2>
              General Information
            <span>Share Holding Pattern of Shakti Pumps (I) Ltd.</span>
          </h2>
          <!- <a href="#" class="resultsbtn"
            ><img src="/images/pdf-icon.png" alt="" /> Report Download:
            2023-24</a
          > ->
        </div>
        <div class="downloadcardlist">
          <% if (Array.isArray(generalInfo.recordset) &&
          generalInfo.recordset.length > 0)
          {generalInfo.recordset.forEach(function(file) { %>
          <div class="downloadcardpan" id="<%=file.year %>">
            <h3>
              <%=file.fileName %><span
                ><%=file.year%> Share Holding Pattern of Shakti Pumps (I)
                Ltd.</span
              >
              <!- <span><%=file.year %></span> ->
            </h3>
            <!- <h3><span><%=file.year %></span></h3> ->
            <a
              href="/pdfFiles/shareHoldingPattern/<%=file.path%>"
              class="readmore"
              target="_blank"
              ><img src="/images/pdf-iconwh.png" alt="" /> Download</a
            >
          </div>
          <% })} %>
        </div>
      </div>
    </div>
  </div> -->
